/* Document contains main style for the project */
        
        /* Style for center tag */
        center{
            text-align: center;
        }

        /* title */
        h1{
            display: inline-block;
            font-weight: bold;
        }
        type{
            font-weight: bold;
            text-decoration: underline;
        }

        /* the map (by topojson) */
        path {
            stroke: white;
            stroke-width: 0.5px;
            fill: #EBEBE0;
        }
        g{
            width: 100%;
            height: 100%;
        }

        /* map buttons */
        #float-button-group {
            position: absolute;
            left: 5;
            opacity: 0.5;
            top: 5;
        }

        /* zoom buttons style */
        #float-button-group:hover {
            opacity: 1;
        }
        #map-zoomer {
            position: absolute;
            writing-mode: vertical-lr;
            -webkit-appearance: slider-vertical;
            width: 5;
            height: 100;
            top: 100;
            left: 20;
        }

        /* main body style */
        body{
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: auto;
            height: auto;
         }
         
         /* Map container location and style */
        #map {
            position: relative;
            justify-content: center;
            background: skyblue;
            width: 90%;
            height: 80%;
            border: 3px solid steelblue;
            margin:0 auto;
        }
        #svg-map{
            width: 100%;
            height: 100%;
        }
  
        /* time slider style */
        #time-slider {
            writing-mode: horizontal-tb;
            background-color: darkgreen;
            bottom: -20px;
            right: 2.5%;
            width: 95%;
        }

        /* the current year label style */
        #current-year {
            position:relative;
            display:inline;
            font-weight: bold;
            font-size: 12px;
            border-style: groove;
            background-color: lightgrey;
            bottom: 8px;
            right: 45%;
        }
        
        /* Style for tooltip class */
        .tooltip {                          
            display: inline-block;
            background-color: #FFF4D3;
            color: black;
            border-radius: 6px;
            border-style: ridge;
            z-index: 1;
            padding: 2px;
        }

        /* Style for dot class */
        .dot {
            stroke: black;
            stroke-width: 0.03%;
        }

        
        /* Legend table style */
        #legend {
            position:absolute;
            right: 5;
            top:5;
            text-align: right;
            border-style: groove;
            background-color: lightgrey;
            opacity: 0.8;
        }
        td {
            white-space: nowrap;
            font-weight: bold;
        }
        #cb-1:focus{
            outline: 1px ridge brown;
        }
        #cb-2:focus{
            outline: 1px ridge blue;
        }
        #cb-3:focus{
            outline: 1px ridge grey;
        }
        #cb-4:focus{
            outline: 1px ridge red;
        }
        
        /* make text unselectable */
        *.unselectable {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
         
            /*Introduced in IE 10.*/
            -ms-user-select: none;
            user-select: none;
         }
        